.header{
    background-color: rgb(255, 0, 0);
    font-size: 23px;
    width: 95%;
    height: 60px;
    display: flex;
    /* float: left; */
    position: relative;
    /* justify-content: space-between; */
    margin: auto;
}


.akLogoDiv {
    display: flex;
    margin: auto;
    max-width: 200px;
    margin-left: 0px;
    justify-content: center;
    background-color: white;
}

.akLogoHeader {
    display: block;
    margin: auto;
    margin-left: 0px;
    height: 80%;
    overflow: visible;
    /* background-color: violet; */
}


.btnHeaderDiv {
    width: 20%;
    
    justify-content: center;
    float: right;
    
}


#headerBtn{
    outline: none;
    height: 100%;
    font-size: 18px;
    background-color: inherit;
    border: none;
    float: right;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
}

.userIconHeader {
    margin: auto 6px;
    color: white;
}

#headerBtn:hover{
    cursor: pointer;
    background-color: rgb(187, 14, 14);
}
