
:root {
    --main-bg-color: coral; 
    --translate: 50*1px; 
  }


.miniProductContainerParent {
    background-color: chartreuse;
    margin: 20px;
    /* display: flex; */
    max-width: 1000px;
    /* overflow: hidden; */
}

.miniProductContainerMainDiv {
    display: flex;
}
.miniProductContainer
{
    /* display: flex; */
    
    /* transform: translateX(calc(var(--translate) * 1px)); */
    margin: 10px;
}

button:active {
    
}
