
.productsParentContainer {
    float: left;
    display: flex;
    width: 100%;
    /* background-color: darkmagenta; */
}

.productsParent {

}

.productsMainDivParent {
    width: 75%;
    padding: 0 0 0 10px;
}

.productsMainDiv {
    
    /* background-color: darkolivegreen; */
    margin-bottom: 20px;
    display: flex;
    float: right;
}


.productsMainDivProductComp {
    width: 25%;
    margin: 10px 10px auto 0;
}

.productsSizeNavBar {
    width: 25%;
    height: 400px;
    background-color: darkgray;
}