.qoContainer {
    margin: 80px auto;
    z-index: 1; /* Sit on top */

    width: 60%; /* Full width */
    position: fixed;

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}


.qoParent {
    width: 100%;
    /* height: 500px; */
    display: flex;
    float: left;
    background-color: white;
}

.qoImagesDiv {
    width: 50%;
    display: flex;
    height: 100%;
    margin: auto;
    /* background-color: darkorange; */
}

.qoMiniImagesParent {
    width: 80%;
    margin: auto;
    /* position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%); */
}

.qoMiniImages {
    /* background-color: firebrick; */
    text-align: center;
    display: flex;
    /* position: relative; */
    width: 15%;
}


.qoMiniImages img {
    width: 100%;
    margin: auto;
}

.qoMajorImage {
    display: flex;
    width: 85%;

}

.qoMajorImage img {
    margin: auto;
    width: 90%;
}

.qoDescriptionDiv {
    width: 50%;
    height: 100%;
    /* background-color: darkseagreen; */
}


.qoDescription1 {
    padding: 10px 0 0 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin: auto 10px; */
    /* border-bottom: 1px solid black; */
    /* background-color: fuchsia; */
}

.qoDescription2 {
    width: 100%;
    margin: auto 10px;
    display: flex;

    /* padding: 0px 0px 0 10px; */
    /* background-color: royalblue; */
}

.qoDescription1DivRight {
    width: 10%;
    font-size: 20px;
    /* display: flex; */
    text-align: center;
    padding: 0 5px 0 0;
    justify-content: center;
}
.qoDescription1DivRight button {
    border: none;
    outline: none;
    background-color: snow;
    transition: 0.3s;
    color: rgb(221, 211, 211);
    margin: 0 auto;
    padding: 4px 7px;
    border-radius: 50%;
}

.qoDescription1DivRight button:hover {
    background-color: black;
    cursor: pointer;
}

.qoDescription1DivLeft {
    /* background-color: slategray; */
    width: 85%;
}

.qoDescription1Head {
    padding: 10px 0 0 10px;
    font-family: 'Abel', sans-serif;
    font-size: 28px;
}

.qoDescriptionFeatures {
    display: flex;
    color: rgb(92, 87, 87);
    border-bottom: 1px solid rgb(187, 179, 179)
}

.qoDescriptionFeaturesList {
    width: 40%;
}

.qoDescription2Main {
    width: 85%;
    display: flex;
    border-bottom: 1px solid rgb(187, 179, 179);
    margin: 10px 0px;
}

.qoDes2PriceDiv {
    width:15%;
    font-size: 24px;
    font-family: 'Abel', sans-serif;
    padding: 5px 10px;
    /* background-color: blue; */
}

.qoDes2PriceMRPDiv {
    font-size: 24px;
    font-family: 'Abel', sans-serif;
    padding: 5px 0 0 10px;
    color: rgb(155, 148, 148);
    text-decoration: line-through;
}

.qoDes2PriceRetailDiv {
    display: flex;
    /* background-color: burlywood; */
}

.qoDes2PriceRetail {
    padding: 0 0 0 10px;
    font-family: 'Abel', sans-serif;
    font-size: 44px;
    color: rgb(255, 0, 0);
}

.qoDes2PriceDiscount {
    margin: auto 20px;
    font-size: 16px;
    color: rgb(187, 179, 179);
    padding: 2px 5px 0 5px;
    /* font-family: 'Abel', sans-serif; */
    border: 1px solid rgb(187, 179, 179)
}

.qoDescription3 {
    margin: auto 5px;
    /* padding: 5px 0; */
    width: 100%;
    /* height: 20%; */
    /* background-color: indianred; */

}
.qoDes3Main {
    margin: auto 0px;
    width: 85%;
    /* border-bottom: 1px solid blueviolet; */
}

.qoDes3Stock {
    padding: 0 10px;
    margin-top: 10px;
    color: green;
    /* background-color: grey; */
    
}

.qoDes3QtyText {
    margin: 10px 20px 10px 0px;
}

.qoDes3QtyMain {
    margin: 10px;
    font-size: 22px;
    display: flex;
    /* background-color: honeydew; */

}

.qoDes3QtyIcon {

    color: rgb(155, 148, 148);
    font-size: 26px;
    margin: auto 0px auto 15px;
}

.qoDes3QtyIcon:hover {
    color: rgb(92, 87, 87);
    cursor: pointer;

}

.qoDes3ButtonMain {

}

.qoDes3ButtonMain button {
    background-color: red;
    color: white;
    outline: none;
    border: none;
    font-family: 'Abel', sans-serif;
    padding: 5px 15px;
    font-size: 22px;
    margin: 5px 10px 10px;
}

.qoDes3ButtonMain button:hover {
    background-color: rgb(214, 52, 52);
    cursor: pointer;
}