.headerParentDiv {
    width: 100%;
    margin: auto;
    background-color: rgb(255, 0, 0);
}

.header{
    font-size: 23px;
    width: 80%;
    height: 60px;
    display: flex;

    position: relative;
  
    margin: auto;
}


.akLogoDiv {
    display: flex;
    margin: auto;
    max-width: 200px;
    margin-left: 0px;
    justify-content: center;
    background-color: white;
}

.akLogoHeader {
    display: block;
    margin: auto;
    margin-left: 0px;
    height: 80%;
    overflow: visible;
    /* background-color: violet; */
}


.btnHeaderDiv {
    width: 20%;
    
    justify-content: center;
    float: right;
    
}

#headerBtn{
    outline: none;
    height: 100%;
    font-size: 16px;
    background-color: inherit;
    border: none;
    float: right;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
}

.userIconHeader {
    margin: auto 10px;
    color: white;
}

#headerBtn:hover{
    cursor: pointer;
    background-color: rgb(206, 13, 13);
}
