body {
  background: #e9eae9;
  font-family: 'Oswald', sans-serif;
}


.App2 {
  width: 95%;
  max-width: 1300px ;
  height: 3780px;
  margin: 0 auto;
  /* background-color: chartreuse; */
  /* border: 2px solid #333;  */
}

.App1{
  width: 100%;
  height: 3780px;
  /* background-color: blue; */
 
}
